<div (load)="updateValues()"
    class="container container-fluid d-flex flex-column mb-3 justify-content-center align-items-center">
    <div class="card" style="width: 18rem">
        <div class="card-body">
            <h1 class="card-title">{{ this.solucaoNome }}</h1>
            <h6 class="card-subtitle mb-2 text-body-secondary">😍 98%</h6>
            <p class="card-text">{{ this.solucaoDesc }}</p>
            <a href="https://operadora.legal/" target="_blank" class="card-link">Link Legal</a>
        </div>
    </div>
</div>