<div class="form-container container-fluid d-flex flex-column mb-3 justify-content-center align-items-center">
    <form class="form" (submit)="setUserAndGoToSolution($event)">
        <div class="mb-3">
            <label class="mb-3" for="name">Nome de usuário</label>
            <input type="text" class="form-control" [formControl]="nome" id="name" placeholder="Digite seu nome de usuário" />
        </div>
        <div class="mb-3">
            <label class="mb-3" for="interest">Area de interesse</label>
            <select class="form-select" [formControl]="interesse_id" name="interest" id="interest">
                <option selected>Selecione uma opção</option>
                <option value="1">Sistema de reconhecimento facial</option>
                <option value="2">Matchmaking inteligente com propósito</option>
                <option value="3">
                    Ferramenta de recrutamento com IA preditiva e alinhamento cultural
                </option>
                <option value="4">
                    Ecossistema digital para o setor de eventos e inovação
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="mb-3" for="location">Localização</label>
            <select class="form-select" [formControl]="estado_id" name="location" id="location">
                <option selected>Selecione uma opção</option>
                <option :value="01">Acre</option>
                <option :value="02">Alagoas</option>
                <option :value="03">Amazonas</option>
                <option :value="04">Amapá</option>
                <option :value="05">Bahia</option>
                <option :value="06">Ceará</option>
                <option :value="07">Espírito Santo</option>
                <option :value="08">Goiás</option>
                <option :value="09">Maranhão</option>
                <option :value="10">Minas Gerais</option>
                <option :value="11">Mato Grosso do Sul</option>
                <option :value="12">Mato Grosso</option>
                <option :value="13">Pará</option>
                <option :value="14">Paraíba</option>
                <option :value="15">Pernambuco</option>
                <option :value="16">Piauí</option>
                <option :value="17">Paraná</option>
                <option :value="18">Rio de Janeiro</option>
                <option :value="19">Rio Grande do Norte</option>
                <option :value="20">Rondônia</option>
                <option :value="21">Roraima</option>
                <option :value="22">Rio Grande do Sul</option>
                <option :value="23">Santa Catarina</option>
                <option :value="24">Sergipe</option>
                <option :value="25">São Paulo</option>
                <option :value="26">Tocantins</option>
            </select>
        </div>
    
        <input type="submit" value="Buscar Conexão" class="btn btn-primary" />
    </form>
</div>